<nav class="navbar navbar-light bg-light justify-content-between bg-light-navbar">
  <a class="navbar-brand header-label" *ngIf="!isSearchUser">Users</a>
  <div class="row search-container" *ngIf="isSearchUser">
    <form class="form-inline">
      <i class="fas fa-arrow-left icon" (click)="doToggleSearch()"></i>
      <input class="search-input" type="text" placeholder="Search users" name="search" [(ngModel)]="searchText">
      <i class="fas fa-times icon" (click)="doToggleSearch('close')"></i>
    </form>
  </div>
  <form class="form-inline" *ngIf="!isSearchUser">
    <img class="sort-control" src="./assets/sort.jpg" width="20" height="20">
    <i class="fas fa-search icon" (click)="doToggleSearch()"></i>
  </form>
</nav>
<div class="pointer" *ngFor="let user of userList | searchFilter: searchText" (click)="doUserSelect($event, user)" [ngClass]="{'user-select' : user === selectedUser}">
  <div class="row view-container">
    <img class="user-photo rounded-circle" src="{{user.photo}}" width="40" height="40">
    <ul class="userlist-ul">
      <li class="username-label">{{user.name}}</li>
      <li class="other-label">{{user.username}}</li>
      <li class="other-label">{{user.email}}</li>
    </ul>
    <div class="col-md-12 hr-line"></div>
  </div>
</div>
